:root { 
  --black: #000000;
  --white: #ffffff;
  --white-2: #ffffff4c;
 
  --font-size-l: 24px;
  --font-size-m: 18px;
  --font-size-s: 13px;
  --font-size-xl: 32px;
  --font-size-xs: 12px;
  --font-size-xxl: 42px;
 
  --font-family-fahkwang: "Fahkwang", Helvetica;
  --font-family-prata: "Prata", Helvetica;
}
.fahkwang-light-black-18px {
  color: var(--black);
  font-family: var(--font-family-fahkwang);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 300;
}

.prata-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-prata);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.fahkwang-light-black-18px-2 {
  color: var(--black);
  font-family: var(--font-family-fahkwang);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.fahkwang-light-black-24px {
  color: var(--black);
  font-family: var(--font-family-fahkwang);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.fahkwang-light-black-12px {
  color: var(--black);
  font-family: var(--font-family-fahkwang);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.prata-normal-black-42px {
  color: var(--black);
  font-family: var(--font-family-prata);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.fahkwang-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-fahkwang);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 400;
}
